:root {
  --title-color: #212121;
  --description-color: #757575;
  --background-hover-color: #2196f3;
  --tile-color: #000;
  --text-button: #fff;
  --background-beautification: #2f303a;
  --email-phone-footer: #ffffff99;
}
.style {
  font-family: "Roboto", sans-serif;
}

.logo {
  line-height: 1.2;
  color: var(--tile-color);
  font-weight: 700;
  font-size: 26px;
}
.web-logo {
  line-height: 1.2;
  color: var(--background-hover-color);
  font-weight: 700;
  font-size: 26px;
}
.nav {
  cursor: pointer;
  line-height: 1.1;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
}
.nav:hover {
  color: var(--background-hover-color);
}
.nav:focus {
  color: var(--background-hover-color);
}
.mail {
  cursor: pointer;
  line-height: 1.1;
  color: var(--description-color);
  font-weight: 500;
  font-size: 14px;
}
.mail:hover {
  color: var(--background-hover-color);
}
.mail:focus {
  color: var(--background-hover-color);
}
.phone-number {
  cursor: pointer;
  line-height: 1.1;
  color: var(--description-color);
  font-weight: 500;
  font-size: 14px;
}
.phone-number:hover {
  color: var(--background-hover-color);
}
.phone-number:focus {
  color: var(--background-hover-color);
}
.button-page-type {
  cursor: pointer;
  line-height: 1.6;
  font-weight: 500;
  font-size: 16px;
}
.button-page-type:hover {
  color: var(--text-button);
  background-color: var(--background-hover-color);
}
.button-page-type:focus {
  color: var(--text-button);
  background-color: var(--background-hover-color);
}

.name-project {
  line-height: 2;
  font-weight: 700;
  font-size: 18px;
  color: var(--title-color);
}
.project-type {
  line-height: 1.9;
  font-size: 16px;
  color: var(--description-color);
}
.adress-company {
  color: var(--text-button);
  line-height: 1.7;
  font-size: 14px;
}
.title {
  line-height: 1.3;
  font-weight: 700;
  font-size: 44px;
  color: var(--text-button);
}
.button-order-service {
  cursor: pointer;
  background-color: var(--background-hover-color);
  color: var(--text-button);
  border: none;
  line-height: 1.8;
  font-weight: 700;
  font-size: 16px;
}
.button-order-service:hover {
  color: var(--text-button);
  background-color: var(--background-hover-color);
}
.button-order-service:focus {
  color: var(--text-button);
  background-color: var(--background-hover-color);
}
.title-description {
  line-height: 1.14;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
}
.description {
  line-height: 1.7;
  color: var(--description-color);
  font-size: 14px;
}
.title-our-job {
  line-height: 1.16;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
}
.title-team {
  line-height: 1.16;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
}
.name-workers {
  line-height: 1.18;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
}
.position-job {
  line-height: 1.18;
  color: var(--description-color);
  font-size: 16px;
}
.body {
  color: var(--text-button);
}
.background-beautification {
  background-color: var(--background-beautification);
}
.mail-footer {
  cursor: pointer;
  color: var(--email-phone-footer);
}
.phone-footer {
  cursor: pointer;
  color: var(--email-phone-footer);
}
